

{% block head %}

<title>Calculator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %}

<div class="content">
    <h1 style="text-align: center">Calculator</h1>


    <div class="form">
        <form action="/login" method="POST">
            <label for="signin">Click here to Sign-In</label>

            <select id="signin" name="signin">
              <!--<option value="register">Register</option> -->
              <option value="login">Signin</option>
            </select>
            <input type="text" name="lgn_username" id="lgn_username">
            <input type="text" name="lgn_password" id="lgn_password">
            <input type="submit" value="Login">
        </form>

        <div class="form">
        <form action="/register" method="POST">
            <label for="register">Don't have account, Sign-up Yourself</label>

            <select id="register" name="register">
              <option value="register">Sign-up</option>
            </select>
            <input type="text" name="reg_usrname" id="reg_usrname">
            <input type="text" name="reg_password" id="reg_password">
            <input type="submit" value="Sign-up">
        </form>
        <div class="form">
            <form action="/deregister" method="POST">
            <label for="unregister">Unregister Yourself</label>

            <select id="unregister" name="unregister">
              <option value="unregister">Unresgister</option>
            </select>
            <input type="text" name="dereg_usrname" id="dereg_usrname">
            <input type="text" name="dereg_usrpaswrd" id="dereg_usrpaswrd">
            <input type="submit" value="Delete">
        </form>
    </div>
</div>
{% endblock %}