

{% block head %}

<title>Calculator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %}

<div class="content">
    <h1 style="text-align: center">Calculator</h1>


    <div class="form">
        <form action="/signinchooser" method="POST">
            <label for="signinchoose">Choose a Sign-Up or Log-In</label>

            <select id="signinchoose" name="signinchoose">
              <option value="register">Register</option>
              <option value="login">Login</option>
            </select>
            <input type="text" name="username" id="username">
            <input type="text" name="password" id="password">
            <input type="submit" value="Login">
        </form>
    </div>
</div>
{% endblock %}